body{
    display:flex;
    justify-self: center;

    background-color: darkgreen;
    margin: 0;
}

#game_container{
    position: relative;
    width: fit-content;
    height: fit-content;
}

#bg {
    max-width: 100vw;
    max-height: 100vh;
    width: auto;
    height: auto;
}

.asta{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 50px;
}

.stats {
    position:absolute;
    left: 0;
}